<ul class="form_step_list">
      <li class="">1. Application form</li>
      <li class="active">2. Confirm</li>
      <li class="">3. Send Request</li>
      <li class="">4. Receive Confirmation Email</li>
      <li class="">5. Payment</li>
      <li class="">6. Complete</li>
    </ul>