<div class="top_main_view">
    <%= render 'experience/commons/ex_mv_wrap' %>
    <div class="common_inner">
      <section class="form_wrap">
	      <%= render 'components/form_step_list' %>
	      <div class="form_thanks_main">
		      <p class="text">
			      Thank you for your application.<br>
						We’ll get back to you as soon as we can.
		      </p>
		      <img src= <%= image_path("form/send_pic.jpg") %> >
	      </div>
      </section>
	  </div>
  </div>