/*=================
     
      others.scss

=======================*/

.error_wrap{
	padding: 0 0 50px;
}

.error_title{
	font-size:40px;
	font-weight: bold;
	color: #1c1c1c;
	text-align: center;
	margin: 0 0 20px;
	padding: 40px 0 0;
	@extend .fe;
	span{
		display: block;
		font-size: 25px;
		font-weight: normal;
		color: #777;
	}
}

.error_btn{
	font-size: 15px;
	font-weight: bold;
	color: #1c1c1c;
	width: 150px;
	border: 1px #1c1c1c solid;
	display: block;
	padding: 12px 0;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	@extend .fe;
	@include transition(all 0.3s ease);
	&:hover{
		text-decoration: none;
		background: #1c1c1c;
		color: #fff;
	}
}

.error_text{
	font-size: 15px;
	color: #1c1c1c;
	text-align: center;
	line-height: 1.5;
	margin: 0 0 40px;
	padding: 0 10px;
	@extend .fe;
}

.privacy_wrap{
	max-width: 980px;
	width: 95%;
	margin: 0 auto;
	padding: 50px 0;
	&.greeting_wrap{
		max-width: 840px;	
	}
	.text{
		font-size: 14px;
		color: $grey;
		line-height: 1.5;
		margin: 0 0 20px;
		@extend .fe;
	}
	.title{
		font-size: 20px;
		font-weight: bold;
		margin: 0 0 30px;
		padding: 10px;
		text-align: center;
		color: #fff;
		background: $grey;
		@extend .fe;
	}
	.subtitle{
		font-size: 17px;
		font-weight: bold;
		margin: 0 0 30px;
		color: $grey;
		border-bottom: 2px $grey dashed;
		padding: 0 0 10px;
		@extend .fe;
	}
	.box{
		text-align: right;
	}
}

/*=== Greeting ====*/

.greeting_pic_block{
	margin: 60px 0 30px;
	text-align: right;
	.greeting_pic{
		display: inline-block;
	}
}