/*=================
     
      top.scss

=======================*/

.top_main_view{
  position: relative;
  z-index: 2;
  background: #fff;
  margin: 0 0 385px;
  min-width: 1220px;
  @media #{$size960}{
	  min-width: inherit;
	  padding: 79px 0 0;
	  margin: 0;
  }
}

.top_mv_wrap{
  margin: 0 0 95px;
  @media #{$size640}{
	  margin: 0 0 20px;
	}
  .top_mv_bxslider{
    .top_mv_list{
      height: 630px;
      position: relative;
      @media #{$size640}{
	      height: 500px;
      }
      .top_mv_info_block{
        display: block;
		    width: 95%;
		    position: absolute;
		    top: 29%;
		    max-width: 500px;
		    left: 50%;
		    @include transform(translateX(-50%));
		    text-align: center;
		    background: rgba(0,0,0,0.3);
		    padding: 15px;
		    border: 2px rgba(255,255,255,0.3) solid;
        @media #{$size640}{
	        top: 12%;
//           bottom: 80px;
        }
        .top_mv_info_title{
          display: inline-block;
          font-size: 14px;
          line-height: 1.3;
          color: #fff;
          margin: 0 0 5px;
          @extend %common_a_transition;
          @extend .fe;
          &:hover{
            text-decoration: none;
          }
          @media #{$size640}{
					  font-size: 14px;
          }
        }
        .top_mv_info_bottom{
          -js-display: flex;
          display:flex;
          justify-content: center;
          align-items: center;
        }
        .top_mv_info_place{
//           width: 100%;
          font-size: 12px;
          color: #fff;
          background: url($get_img+"common/place_icon_w.png") left center no-repeat;
          padding: 4px 0 4px 20px;
          @extend %common_a_transition;
          margin: 0 5px;
          background-size: 15px;
          @extend .fe;
          &:hover{
            text-decoration: none;
          }
        }
        .top_mv_info_tag{
//           width: 100%;
          font-size: 12px;
          color: #fff;
          background: url($get_img+"common/tag_icon_w.png") left center no-repeat;
          padding: 4px 0 3px 25px;
          margin: 0 5px;
          background-size: 18px;
          @extend %common_a_transition;
          @extend .fe;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .top_mv_title{
	  width: 100%;
    position: absolute;
    top:14%;
    left: 50%;
	   @include transform(translateX(-50%));
    text-align: center;
    font-size: 47px;
    color: #fff;
    @extend .fe;
    @media #{$size960}{
	    top:5%;
      font-size: 20px;
      margin: 0 0 20px;
    }
  }
  .top_mv_form{
    @media #{$size960}{
      text-align: center;
    }
  }
  .top_mv_search_wrap{
//     width: 675px;
    position: absolute;
    top:47%;
    left: 50%;
    z-index: 5;
    @include transform(translateX(-50%));
    @media #{$size640}{
	    top: 32%;
// 	    top: 5%;
    }
  }
  .top_mv_arrow_btn{
    display: block;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    @include transform(translateX(-50%));
    @extend %common_a_transition;
    @include animation(up_down 1.7s ease-out infinite);
    img{
      display: block;
      width: 100%;
    }
  }
}

 .top_mv_filter{
  display: none;
	background: rgba(255,255,255,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

@keyframes up_down{
  0%{
    bottom: 20px;
  }
  50%{
    bottom: 10px;
  }
  100%{
    bottom: 20px;
  }
}

.top_common_title{
  margin: 0 0 70px -30px;
  @media #{$size640}{
  	display: none;
  }
  .view-back{
	  a{
	    &:after{
	      content: "\35";
	      @extend .icon;
	      position: absolute;
	      top: 1px;
	    }
	  }
	}
}

.top_common_sp_title{
	display: none;
	@media #{$size640}{
  	display: block;
  	width: 90%;
  	img{
	  	display: block;
	  	width: 100%;
  	}
  }
}

.top_what_wrap{
  margin: 0 0 100px;
  @media #{$size960}{
	  margin: 0 0 50px;
  }
  .top_what_list{
    -js-display: flex;
    display:flex;
    justify-content: center;
    align-items: center;
    @media #{$size960}{
	    flex-wrap: wrap;
    }
    .top_what_item{
      width: 18%;
      @media #{$size960}{
	      width: 33%;
      }
      @media #{$size640}{
	      width: 50%;
      }
    }
    .top_what_link{
      padding: 15px 0;
      display: block;
      text-decoration: none;
      text-align: center;
      @include transition(all 0.3s ease);
      .black{
        display: block;
        width: 80px;
        margin: 0 auto 15px;
        @include transition(all 0.3s ease);
        @media #{$size640}{
	        width: 40px;
	        margin: 0 auto 15px;
        }
      }
      .white{
        display: none;
        @include transition(all 0.3s ease);
      }
      .text{
	      @include transition(all 0.3s ease);
        font-size: 18px;
        color: #1c1c1c;
        font-weight: bold;
        @extend .fe;
        @media #{$size640}{
	        font-size: 15px;
        }
      }
      &:hover{
        @include transition(all 0.3s ease);
        .black{
          @include transition(all 0.3s ease);
          display: none;
          @media #{$size640}{
	          display: block;
          }
        }
        .white{
          @include transition(all 0.3s ease);
          display: block;
          width: 80px;
          margin: 0 auto 15px;
          @media #{$size640}{
	          display: none;
          }
        }
        .text{
	        @include transition(all 0.3s ease);
	        opacity: 0.7;
        }
      }
    }
  }
}

.top_hot_wrap{
  margin: 0 0 70px;
  .top_hot_main{
    -js-display: flex;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    @media #{$size960}{
	    display: block;
	    width: 95%;
	    margin: 0 auto;
    }
  }
  .flip-container {
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-o-perspective: 1000;
  	perspective: 1000;
  	position: relative;
  	margin: 0 15px 30px;
  	width: 230px;
    height: 230px;
    @media #{$size960}{
	    width: 50%;
	    margin: 0 0 15px;
	    height: 460px;
	    text-align: center;
	    &:nth-of-type(odd){
		    float: left;
	    }
	    &:nth-of-type(even){
		    float: right;
	    }
/*
	    width: 90%;
	    height: 460px;
	    margin: 0 auto 20px;
*/
    }
    @media #{$size640}{
	    height: 445px;
    }
    &:hover{
	    .flipper{
		    -webkit-transform: rotateY(-180deg);
	  		-moz-transform: rotateY(-180deg);
	  		-o-transform: rotateY(-180deg);
	  		transform: rotateY(-180deg);
	  		@media #{$size960}{
		  		-webkit-transform: rotateY(0deg);
			  	-moz-transform: rotateY(0deg);
			  	-o-transform: rotateY(0deg);
			  	transform: rotateY(0deg);
	  		}
	    }
    }
    &.hover{
	    .flipper{
		    -webkit-transform: rotateY(-180deg);
	  		-moz-transform: rotateY(-180deg);
	  		-o-transform: rotateY(-180deg);
	  		transform: rotateY(-180deg);
	  		@media #{$size960}{
		  		-webkit-transform: rotateY(0deg);
			  	-moz-transform: rotateY(0deg);
			  	-o-transform: rotateY(0deg);
			  	transform: rotateY(0deg);
	  		}
	    }
    }
  }
  	/* flip the pane when hovered */
/*
  	.flip-container:hover .flipper, .flip-container.hover .flipper {
  		-webkit-transform: rotateY(-180deg);
  		-moz-transform: rotateY(-180deg);
  		-o-transform: rotateY(-180deg);
  		transform: rotateY(-180deg);
  	}
*/
  
/*
  .front, .back {
    width: 230px;
    height: 230px;
  }
*/
  
  /* flip speed goes here */
  .flipper {
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
  
  	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
  
  	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
  
  	transition: 0.6s;
  	transform-style: preserve-3d;
  
  	position: relative;
  	@media #{$size640}{
/*
	  	-js-display:flex;
	  	display:flex;
	  	justify-content: space-between;
*/
  	}
  }
  
  /* hide back of pane during swap */
/*
  .front, .back {
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
*/
  
  /* front pane, placed above back */
  .front {
	  width: 230px;
    height: 230px;
  	z-index: 2;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  	@media #{$size960}{
	  	position: inherit;
	  	top: inherit;
	  	left: inherit;
	  	margin: 0 auto;
	  	-webkit-backface-visibility: visible;
	  	-moz-backface-visibility: visible;
	  	-o-backface-visibility: visible;
	  	backface-visibility: visible;
  	}
  	@media #{$size640}{
	  	width: 150px;
	  	height: 150px;
  	}
  }
  
  /* back, initially hidden pane */
  .back {
	  width: 230px;
    height: 230px;
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
  	-o-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  	padding: 20px 0 10px;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  	@media #{$size960}{
	  	position: inherit;
	  	left: inherit;
	  	top: inherit;
	  	margin: 0 auto;
	  	-webkit-transform: rotateY(0deg);
	  	-moz-transform: rotateY(0deg);
	  	-o-transform: rotateY(0deg);
	  	transform: rotateY(0deg);
	  	-webkit-backface-visibility: visible;
	  	-moz-backface-visibility: visible;
	  	-o-backface-visibility: visible;
	  	backface-visibility: visible;
  	}
  	@media #{$size640}{
	  	width: 150px;
	  	height: 295px;
  	}
  }
  .top_hot_title{
    display: block;
    width: 85%;
    margin: 0 auto 15px;
    color: #fff;
    font-size: 16px;
//     text-align: center;
		font-weight: bold;
    @extend .fe;
  }
  .top_hot_text{
    font-size: 12px;
    color: #fff;
    width: 85%;
    margin: 0 auto 20px;
    @extend .fe;
  }
  .top_hot_list{
    width: 85%;
    margin: 0 auto;
    .top_hot_item{
//       margin: 0 0 5px;
      &.bg01{
        background: url($get_img+"common/place_icon_w.png") left center no-repeat;
        padding: 3px 0 4px 30px;
        background-size: 15px;
      }
      &.bg02{
        background: url($get_img+"common/tag_icon_w.png") left center no-repeat;
        padding: 3px 0 4px 30px;
        background-size: 18px;
      }
    }
  }
  .top_hot_link{
    font-size: 12px;
    color: #fff;
    @extend .fe;
  }
  .top_hot_tag{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 23px;/*高さ*/
    line-height: 23px;/*高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 30px 0 18px;/*文字の左右の余白*/
    font-size: 12px;/*文字サイズ*/
    background: #fff;/*背景色*/
    color: #000;/*文字色*/
    box-sizing: border-box;
    @extend .fe;
    &:after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      z-index: 1;
      top: 0;
      right: 0;
      border-width: 12px 15px 12px 0px;
      border-color: transparent rgba(0,0,0,0.8) transparent transparent;
      border-style: solid;
    }
  }
}

.top_topics_wrap{
  margin: 0 0 100px;
  @media #{$size960}{
	  margin: 0 0 50px;
  }
}

.top_topics_list{
  margin: 0 0 0 100px;
  @media #{$size960}{
	  margin: 0 auto;
	  width: 95%;
  }
  .top_topics_item{
    margin: 0 0 20px;
  }
  .top_topics_link{
    -js-display: flex;
    display:flex;
    align-items: center;
    text-decoration: none;
    @extend %common_a_transition;
    @media #{$size960}{
	    flex-wrap: wrap;
    }
    &:hover{
      .pin01{
        display: none;
        @media #{$size960}{
          display: inline-block;
        }
      }
      .pin02{
        display: inline-block;
        @media #{$size960}{
          display: none;
        }
      }
    }
    .pin01{
      margin: 0 15px 0 0;
      @media #{$size960}{
	      display: inline-block;
	      width: 15px;
      }
    }
    .pin02{
      display: none;
      margin: 0 15px 0 0;
      @media #{$size960}{
	      display: none;
	      width: 15px;
      }
    }
    .date{
      font-size: 16px;
      color: #1c1c1c;
      margin: 0 20px 0 0;
      @extend .fe;
      @media #{$size960}{
	      font-size: 14px;
      }
    }
    .text{
      font-size: 16px;
      color: #1c1c1c;
      margin: 0;
      @extend .fe;
      @media #{$size960}{
	      font-size: 13px;
	      width: 100%;
      }
    }
  }
}

.top_weather_wrap{
  margin: 0 0 100px;
  @media #{$size960}{
	  margin: 0 0 30px;
  }
  .top_weather_main{
    -js-display: flex;
    display:flex;
    justify-content: center;
    align-items: center;
    @media #{$size960}{
	    display: block;
    }
  }
  .top_weather_left{
    width: 340px;
    position: relative;
    text-align: right;
    @media #{$size960}{
	    text-align: center;
	    width: 95%;
	    margin: 0 auto;
    }
    .pc{
	    display: block;
	    @media #{$size960}{
		    display: none;
	    }
    }
    .sp{
	    display: none;
	    @media #{$size960}{
		    display: block;
	    }
    }
    .map_sp{
	    display: block;
	    max-width: 100%;
	    width: auto;
	    margin: 0 auto;
    }
    .pin{
      position: absolute;
      opacity: 0;
      @include transition(all 0.3s ease-out);
      top:-50px;
      right: 144px;
      &.active{
        top:58px;
        opacity: 1;
        @include transition(all 0.3s ease-out);
      }
      @media #{$size960}{
	      top:58px;
	      opacity: 1;
      }
    }
  }
  .top_weather_right{
    width: 777px;
    @media #{$size960}{
	    width: 95%;
	    margin: 0 auto;
    }
  }
}

.top_money_wrap{
  margin: 0 0 100px;
  @media #{$size960}{
	  margin: 0 0 35px;
  }
  .top_money_main{
    -js-display: flex;
    display:flex;
    width: 1015px;
    margin: 0 auto;
    @media #{$size960}{
	    width: 95%;
	    display: block;
    }
  }
}

.top_money_left{
  width: 630px;
  border-right: 1px #a2a2a2 dashed;
  @media #{$size960}{
    width: 100%;
    border-right: none;
    border-bottom: 1px #a2a2a2 dashed;
  }
  &.sp{
	  width: 100%;
    border-right: none;
    border-bottom: 1px #a2a2a2 dashed;
    @media #{$size960}{
	    width: 100%;
	    border-right: none;
	    border-bottom: 1px #a2a2a2 dashed;
	  }
  }
}
.top_money_rate{
  -js-display: flex;
  display:flex;
  align-items: center;
  margin: 0 0 30px;
  @media #{$size960}{
    display: block;
    margin: 0 0 15px;
  }
  &.sp{
	  display: block;
    margin: 0 0 15px;
  }
  .top_money_date{
    font-size: 16px;
    color: #1c1c1c;
    margin: 0 25px 0 0;
    @extend .fe;
    @media #{$size960}{
      font-size: 14px;
      margin: 0 0 5px;
    }
    &.sp{
	    font-size: 14px;
      margin: 0 0 5px;
    }
  }
  .top_money_change_rate{
    font-size: 16px;
    color: #1c1c1c;
    margin: 0;
    @extend .fe;
    @media #{$size960}{
      font-size: 14px;
// 	      margin: 0 0 10px;
    }
    &.sp{
	    font-size: 14px;
    }
  }
}
.top_money_change{
  -js-display: flex;
  display:flex;
  align-items: center;
  margin: 0 0 15px;
  @media #{$size960}{
    display: block;
  }
  &.sp{
	  @media #{$size960}{
	    display: flex;
	  }
  }
  .top_money_inner{
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    -js-display: flex;
    display:flex;
    align-items: center;
    @media #{$size960}{
      margin: 0 auto;
    }
    &.sp{
	    width: 120px;
	    min-width: 120px;
	    max-width: 120px;
    }
  }
  .top_money_input{
    width: 180px;
    color: #000;
    border: 1px #000 solid;
    font-size: 20px;
    margin: 0 15px 0 0;
    height: 40px;
    @extend .fe;
    @media #{$size960}{
			font-size: 14px;
		}
		&.sp{
			width: 85px;
			height: 20px;
			font-size: 14px;
			margin: 0 4px 0 0;
		}
  }
  .money_type{
    font-size: 20px;
    color: #000;
    margin: 0;
    @extend .fe;
    @media #{$size960}{
			font-size: 14px;
		}
		&.sp{
			font-size: 14px;
		}
  }
  .change_icon{
    display: block;
    width: 34px;
    cursor: pointer;
    margin: 0 15px 0 7px;
    @media #{$size960}{
      margin: 10px auto;
			width: 30px;
			transform: rotate(90deg);
		}
		&.sp{
			margin: 0 4px;
			width: 30px;
/*
			margin: 10px auto;
			width: 30px;
			transform: rotate(90deg);
*/
			@media #{$size960}{
				margin: 0 4px 0 0;
// 				margin: 10px auto;
				width: 30px;
				transform: rotate(0deg);
			}
		}
  }
}
.top_money_change_btn{
  background: #000;
  color: #fff;
  font-size: 14px;
  display: block;
  width: 120px;
  text-align: center;
  border: none;
  padding: 3px 0;
  margin: 0 0 0 215px;
  @extend %common_a_transition;
  @extend .fe;
  @media #{$size960}{
    margin: 15px auto;
  }
  &.sp{
	  margin: 15px auto;
  }
}
.top_money_right{
  width: 385px;
  @media #{$size960}{
    width: 100%;
  }
  &.sp{
	  width: 100%;
  }
}
.top_money_list{
  margin: 0;
  float: right;
  width: 350px;
  -js-display: flex;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media #{$size960}{
    justify-content: center;
    float: inherit;
    width: 100%;
  }
  &.sp{
	  float: inherit;
	  width: 100%;
	  .top_money_item{
		  width: 70px;
		  margin: 2px 0;
		  img{
			  display: block;
			  width: 100%;
		  }
	  }
  }
  .top_money_item{
    width: 100px;
    border: 1px #fff solid;
    margin: 5px 0;
    &.active{
      border: 1px #000 solid;
    }
  }
  .top_money_contury{
    padding: 8px;
    margin: 0;
    @extend %common_a_transition;
    img{
	    display: block;
	    width: 70px;
    }
  }
}

.top_blog_wrap{
  margin: 0 0 100px;
  @media #{$size960}{
	  margin: 0 0 35px;
  }
  .top_blog_up{
    width: 1080px;
    margin: 0 auto;
    padding: 0 30px 30px;
    border-bottom: 1px #a2a2a2 dashed; 
		@media #{$size960}{
			display: block;
		  width: 95%;
		  margin: 0 auto;
		  padding: 0 0 15px;
		}
		a{
  		width: 100%;
  		text-decoration: none;
  		-js-display: flex;
      display:flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
//       @extend %common_a_transition;
			@include transition(all 0.3s ease);
  		&:hover{
    		text-decoration: none;
    		.top_blog_title{
		    	color: #aaa;
		    	@media #{$size960}{
  		    	color: $grey;
		    	}
    		}
    		.top_blog_text{
	    		color: #aaa;
	    		@media #{$size960}{
  		    	color: $grey;
		    	}
    		}
    		.top_blog_inner{
	    		.date{
		    		color: #aaa;
		    		@media #{$size960}{
    		    	color: $grey;
  		    	}
	    		}
    		}
  		}
  		@media #{$size960}{
    		display: block;
  		}
		}
    .top_blog_info{
      width: 75%;
      @media #{$size960}{
	      width: 100%;
      }
      .top_blog_title{
        font-size: 30px;
        color: #1c1c1c;
        line-height: 1.2;
        margin: 0 0 15px;
        @include transition(all 0.3s ease);
        @extend .fe;
        @media #{$size960}{
	        font-size: 18px;
        }
/*
        a{
          text-decoration: none;
          color: #1c1c1c;
          @extend %common_a_transition;
        }
*/
      }
      .top_blog_inner{
        -js-display: flex;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
        .left{
          -js-display: flex;
          display:flex;
          align-items: center;
        }
        .date{
          font-size: 16px;
          color: #1c1c1c;
          margin: 0 40px 0 0;
          @include transition(all 0.3s ease);
          @extend .fe;
          @media #{$size960}{
	          font-size: 13px;
	          margin: 0 15px 0 0;
          }
        }
        .top_blog_tag{
          -js-display: flex;
          display:flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0;
        }
        .top_blog_tag_item{
          margin: 2px 10px;
        }
        .top_blog_tag_link{
          display: block;
          padding: 3px 7px;
          font-size: 11px;
          text-decoration: none;
          color: #1c1c1c;
          border: 1px #1c1c1c solid;
          border-radius: 15px;
          margin: 0;
          @include transition(all 0.3s ease);
          @extend .fe;
          &:hover{
            background: #1c1c1c;
            color: #fff;
          }
        }
        .top_blog_people_pic{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px #000 solid;
        }
      }
      .top_blog_text{
        font-size: 16px;
        color: #1c1c1c;
        line-height: 1.5;
        @include transition(all 0.3s ease);
        @extend .fe;
        @media #{$size960}{
	        font-size: 13px;
        }
      }
    }
    .top_blog_pic{
      width: 20%;
      height: 160px;
      @media #{$size960}{
	      width: 100%;
	      margin: 0 0 10px;
      }
    }
  }
  .top_blog_bottom{
    width: 1080px;
    margin: 0 auto;
    -js-display: flex;
    display:flex;
    justify-content: space-between;
    @media #{$size960}{
	    display: block;
		  width: 95%;
		  margin: 0 auto;
		}
    .top_blog_left{
      width: 670px;
      border-right: 1px #a2a2a2 dashed;
      @media #{$size960}{
	      width: 100%;
	      border-right: none;
      }
    }
    .top_common_blog{
      border-bottom: 1px #a2a2a2 dashed;
        &:last-of-type{
          border-bottom: none;
          @media #{$size960}{
  	        border-bottom: 1px #a2a2a2 dashed;
          }
        }
      a{
        text-decoration: none;
        -js-display: flex;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding: 30px 30px 20px;
/*
        border-bottom: 1px #a2a2a2 dashed;
        &:last-of-type{
          border-bottom: none;
          @media #{$size960}{
  	        border-bottom: 1px #a2a2a2 dashed;
          }
        }
*/
        &:hover{
          text-decoration: none;
          .top_blog_title{
  		    	color: #aaa;
  		    	@media #{$size960}{
    		    	color: $grey;
  		    	}
      		}
      		.top_blog_text{
  	    		color: #aaa;
  	    		@media #{$size960}{
    		    	color: $grey;
  		    	}
      		}
      		.top_blog_inner{
  	    		.date{
  		    		color: #aaa;
  		    		@media #{$size960}{
      		    	color: $grey;
    		    	}
  	    		}
      		}
        }
//         @extend %common_a_transition;
        @media #{$size960}{
          display: block;
        }
      }
      .top_blog_pic{
        width: 30%;
        height: 140px;
        @media #{$size960}{
	        width: 100%;
	        margin: 0 auto 10px;
        }
      }
      @media #{$size960}{
	      padding: 10px 0 15px;
		    display: block;
			  width: 100%;
			  margin: 0 auto;
			}
    }
    .top_blog_info{
      width: 60%;
      @media #{$size960}{
	      width: 100%;
      }
      .top_blog_title{
        font-size: 20px;
        color: #1c1c1c;
        line-height: 1.2;
        margin: 0 0 15px;
        @include transition(all 0.3s ease);
        @extend .fe;
        @media #{$size960}{
	        font-size: 18px;
        }
        a{
          text-decoration: none;
          color: #1c1c1c;
          @extend %common_a_transition;
        }
      }
      .top_blog_inner{
        -js-display: flex;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
        .left{
          -js-display: flex;
          display:flex;
          align-items: center;
        }
        .date{
          font-size: 14px;
          color: #1c1c1c;
          margin: 0 40px 0 0;
          @include transition(all 0.3s ease);
          @extend .fe;
          @media #{$size960}{
		        font-size: 13px;
		        margin: 0 15px 0 0;
	        }
        }
        .top_blog_tag{
          -js-display: flex;
          display:flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0;
        }
        .top_blog_tag_item{
          margin: 2px 10px;
        }
        .top_blog_tag_link{
          display: block;
          padding: 3px 7px;
          font-size: 11px;
          text-decoration: none;
          color: #1c1c1c;
          border: 1px #1c1c1c solid;
          border-radius: 15px;
          margin: 0;
          @include transition(all 0.3s ease);
          @extend .fe;
          &:hover{
            background: #1c1c1c;
            color: #fff;
          }
        }
        .top_blog_people_pic{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px #000 solid;
        }
      }
      .top_blog_text{
        font-size: 14px;
        color: #1c1c1c;
        line-height: 1.5;
        @include transition(all 0.3s ease);
        @extend .fe;
        @media #{$size960}{
	        font-size: 13px;
        }
      }
    }
    .top_blog_right{
      width: 410px;
      text-align: center;
      padding: 35px 0 0;
      @media #{$size960}{
        width: 100%;
        padding: 15px 0 0;
      }
      iframe{
	      ._2p3a{
		      width: 300px !important;
	      }
      }
    }
  }
}

.top_movie_wrap{
	iframe{	
		@media #{$size960}{
			height: 500px !important;	
		}
		@media #{$size640}{
			height: 300px !important;	
		}
	}
}