<section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Japanese Calligraphy
        <img src=<%= image_path("common/spring_icon.png") %> alt="Japanese Calligraphy">
      </h1>
    </div>
  </section>