<div class="common_inner">
  <div class="exdetail_bottom_slider">
    <h3 class="exdetail_common_title">Recommended Experiences in Hakata</h3>
    <div class="exdetail_bxslider">
      <div class="slide">
        <a href="">
          <div class="pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
            <span class="price_tag">짜2,400</span>
          </div>
          <p class="text">Sushi-making Experience</p>
        </a>
      </div>
      <div class="slide">
        <a href="">
          <div class="pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
            <span class="price_tag">짜2,400</span>
          </div>
          <p class="text">Sushi-making Experience</p>
        </a>
      </div>
      <div class="slide">
        <a href="">
          <div class="pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
            <span class="price_tag">짜2,400</span>
          </div>
          <p class="text">Sushi-making Experience</p>
        </a>
      </div>
      <div class="slide">
        <a href="">
          <div class="pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
            <span class="price_tag">짜2,400</span>
          </div>
          <p class="text">Sushi-making Experience</p>
        </a>
      </div>
    </div>
  </div>
</div>
