<div class="top_main_view">
	  <div class="common_inner">
		  <div class="error_wrap">
	    	<p class="error_title">
		    	500<span>We're sorry, but something went wrong.</span>
		    </p>
		    <p class="error_text">
			    If you are the application owner check the logs for more information.
		    </p>
		    <a href="<%= top_path %>" class="error_btn">back to Top</a>
		  </div>
	  </div>
  </div>