<div class="top_main_view">
	  <div class="common_inner">
		  <div class="error_wrap">
	    	<p class="error_title">
		    	404<span>Page not found</span>
		    </p>
		    <p class="error_text">
			    The Page you are looking for doesn't exist or an other error occurred.
		    </p>
		    <a href="<%= top_path %>" class="error_btn">back to Top</a>
		  </div>
	  </div>
  </div>