/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require style
 *= require reset
 *= require_self
	
 *= require daterangepicker
 *= require ./hover/style_common
 *= require ./hover/style2
 *= require jquery.bxslider
 *
 * require_tree .
 *= require social-share-button
 */


 /*=====Import Bootstrap=====*/
@import 'https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css';
/*======== WEB FONT ========*/

@font-face {
	font-family: 'ElegantIcons';
	src:font-url('ElegantIcons.eot');
	src:font-url('ElegantIcons.eot?#iefix') format('embedded-opentype'),
		font-url('ElegantIcons.woff') format('woff'),
		font-url('ElegantIcons.ttf') format('truetype'),
		font-url('ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

$size: 2rem;

.social-share-button {
  .ssb-icon {		
		font-family: 'Lato', sans-serif;
    background-size: $size $size !important;
    height: $size+0.8rem !important;
		width: $size !important;
		top: 50%;
		right: 50%;
		margin-right: -150px;
		margin-top: -106px;
		margin: 0 0 5px;
  }
}

.social-share-button .ssb-facebook {
  background-image: image-url("common/side_fb.png") !important;
}

.social-share-button .ssb-twitter {
  background-image: image-url("common/side_twitter.png") !important;
}