nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

/* <div class="share-button">
		    <div class="share-button-secondary">
		      <div class="share-button-secondary-content">
		        share on facebook
		      </div>
		    </div>
		    <div class="share-button-primary">
		      <%= image_tag("common/side_fb.png") %>
					<%= facebook_button %>
		    </div>
		  </div>
		  
		  <div class="share-button">
		    <div class="share-button-secondary">
		      <div class="share-button-secondary-content">
		        share on twitter
		      </div>
		    </div>
		    <div class="share-button-primary">					
					<%= image_tag("common/side_twitter.png") %>
					<%= twitter_button %>		      
		    </div>		
		  </div>
*/