<footer>  
    <div class="footer_wrap">
      <div class="common_inner">
        <ul class="footer_list">
          <li class="footer_item">
            <a href="/experience" class="footer_link">Experience</a>
          </li>
          <li class="footer_item">
            <a href="/blog" class="footer_link">Blog</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Weather in FUKUOKA</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Greeting</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Japanese Restaurant</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">trip advisor</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Exchange money</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Privacy policy</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Rent Space</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link" target="_blank" rel="nofollow">Facebook</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">FAQ</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Terms of Use</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">About SUiTO</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link" target="_blank" rel="nofollow">Instagram</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Contact</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Site map</a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link">Access</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="common_inner">
      <div class="footer_bottom">
        <div class="footer_bottom_pic">
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo01.png") %></a>
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo02.png") %></a>
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo03.png") %></a>
        </div>
        <small class="footer_copyright">Copyright ©2017 SUiTO FUKUOKA All rights reserved.</small>
      </div>
    </div>
  </footer>   