<div class="form_header_info_block">
				<h2 class="form_header_title">
					Japanese Calligraphy
          <img src=<%= image_path("common/spring_icon.png") %> alt="Japanese Calligraphy">
				</h2>
				<ul class="form_step_list">
		      <li class="active">1. Application form</li>
		      <li class="">2. Confirm</li>
		      <li class="">3. Send Request</li>
		      <li class="">4. Receive Confirmation Email</li>
		      <li class="">5. Payment</li>
		      <li class="">6. Complete</li>
	      </ul>
			</div>